@import "tailwindcss";

@theme {
  --color-primary:#F8F9FA;
  --color-secondary:#9E9E9E;
  --color-accent:#212121;
}

    /* Example in a CSS file or <style> tag */
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background-color: transparent /* Tailwind's gray-100 */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #888; /* Tailwind's gray-500 */
      border-radius: 4px;
    }